{% extends "index.html" %}

{% block content %}
<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Welcome to <br> <span> Cement Strength Prediction </span></h2>
            </div>
            <p style="color: aliceblue;">
            Cement strength prediction is a crucial aspect in the construction and civil 
            engineering industries, as it directly influences the durability and safety of 
            structures. Accurate prediction models can lead to better quality control and 
            optimization in cement production, reducing costs and improving material performance. 
            Traditional methods for predicting cement strength often rely on linear regression or 
            neural network models, 
            which may require significant computational resources and extensive feature engineering.
            </p>
  
          </div>
        </div>
        <div class="col-md-6" style="margin-top: -50px;">
          <div class="img-box">
            <img src="/static/images/about-img.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
