{% extends "index.html" %}

{% block content %}
<div
    style="position: relative; height: 100vh; display: flex; justify-content: center; align-items: center; background-image: url('/static/image.png'); background-size: cover;">
    <div
        style="background-color: rgba(140, 113, 113, 0.646); padding: 40px; border-radius: 10px; text-align: center; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);">
        <h1 style="color: #e3d7d7; font-family: Arial, sans-serif;">Select a Model</h1>
        {% if result %}
        <div style="margin-top: 20px; color: #e3d7d7; font-family: Arial, sans-serif;">
            <h2> {{ result }}</h2>
        </div>
        {% endif %}
        <form style="margin-top: 20px; width: 600px;" action="{{url_for('model')}}" method="post">
            <select id="model" name="model" style="width: 400px; padding: 8px; font-size: 16px; margin-left: 10px;">
                <option>Choose Model</option>
                <option value="1">Linear Regression</option>
                <option value="2"> ANN </option>
                <option value="3">Gredint BoostReggressor</option>
                <option value="4">Decision Tree Reggressor</option>
                <option value="5">Random Forest_reggresor</option>
                <option value="6">Extra tree_reggressor</option>
                <option value="7">Hist Gredint BoostReggressor</option>
            </select>
            <br>
            <br>
            <button type="submit"
                style="margin-left: 20px; padding: 10px 20px; font-size: 16px;border-radius: 10%; background-color: #ac4a4a; color: white; border: none; cursor: pointer;">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}